<div id="main-container">
    <h1>Administration des Jeux</h1>
    <div id="buttons-container">
        <div id="new-game-buttons-container">
            <!-- TODO: Add route to Create Game Page -->
            <button mat-raised-button color="primary"><mat-icon>add</mat-icon>Créer un nouveau jeu</button>
            <input type="file" accept="application/json" class="file-input" (change)="onFileSelected($event)" #fileUpload />
            <div class="file-upload">
                <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>upload</mat-icon>Importer un jeu (JSON)
                </button>
            </div>
        </div>
        <!-- TODO: Add route to question bank-->
        <button mat-raised-button color="primary"><mat-icon>question_mark</mat-icon>Banque de questions</button>
    </div>
    <div class="games-container">
        <div id="game-list-information-container">
            <h2>Liste des jeux existants</h2>
            <div>
                <span>Trier selon: </span>
                <mat-button-toggle-group #group="matButtonToggleGroup" name="sort order" aria-label="Date Sort">
                    <mat-button-toggle value="ascending">Le plus récent</mat-button-toggle>
                    <mat-button-toggle value="descending">Le plus ancien</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <app-game-list-item *ngFor="let game of games" [game]="game"> </app-game-list-item>
    </div>
</div>
