<mat-expansion-panel class="question-card" *ngIf="question">
    <mat-expansion-panel-header>
        <mat-panel-title class="question-text">
            <p class="question-text">{{ index }} {{ question.text }}</p>
        </mat-panel-title>
        <mat-panel-description class="question-options">
            <p>{{ question.points }} points</p>
            <p *ngIf="isLastModifiedDateVisible">Dernière modification: {{ question.lastModification | date }}</p>
            <div class="question-buttons-container">
                <button
                    mat-icon-button
                    color="warn"
                    aria-label="Example icon button with a menu icon"
                    appClickStopPropagation
                    (click)="deleteQuestion()"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div class="drag-container">
                <ng-content></ng-content>
                <div class="drag-handle">
                    <svg class="svg" width="20px" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a menu icon"
        appClickStopPropagation
        (click)="togglePanel()"
        (click)="closeComponent()"
    >
        <mat-icon>create</mat-icon>
    </button> -->
    <app-create-question
        [createNewQuestionButton]="false"
        [createNewQuestionToBankButton]="false"
        [question]="question"
        [modificationState]="modificationState"
    >
    </app-create-question>
</mat-expansion-panel>
