#question-area {
    flex-grow: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.histogram-container {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

app-histogram {
    width: 50%;
}

#question-timer-area {
    margin-top: 2%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    width: auto;
}

#question {
    display: flex;
    flex-direction: column;
    background: #3f51b5;
    color: #fafafa;
    padding: 5% 7%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#points {
    position: absolute;
    bottom: 0;
    font-size: 125%;
    color: #777777;
}

#timer-area {
    position: absolute;
    top: -35px;
    right: 48%;
    z-index: 10;
}

#timer {
    position: relative;
    display: inline-block;
}

#time-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    margin: 0;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    flex: 0 0 auto;
    margin: 5px;
    margin-right: 25px;
}
