<div class="top-page">
    <h2>Banque de questions de jeux</h2>
</div>

<mat-card *ngIf="questions.length === 0" class="empty-bank-card">
    <mat-card-content class="empty-bank-card">
        <p><mat-icon>catching_pokemon</mat-icon> La banque de question est vide! <mat-icon>catching_pokemon</mat-icon></p>
        <p>Cliquez sur <mat-icon>add</mat-icon> pour ajouter votre première question!</p>
    </mat-card-content>
</mat-card>

<mat-accordion class="bank-questions-list question-list">
    <div *ngFor="let question of questions | sortByLastModification: 'ascending'; let i = index" class="">
        <div class="select-question">
            <mat-checkbox (click) = "checkQuestion(i)">
            </mat-checkbox>
            <app-question-list-item
                [question]="question"
                [isLastModifiedDateVisible]="true"
                (deleteQuestionEvent)="deleteQuestion($event)"
                >
            </app-question-list-item>
        </div> 
    </div>
</mat-accordion>

<button class="submit-button" mat-raised-button color="basic" (click)="submitQuestions()" routerLink="/admin/games/:id/questions" >
    <mat-icon>done</mat-icon>
</button>

<p>{{ response }}</p>