<div class="main-container justified mat-typography">
    <div class="header-container">
        <i class="material-icons" id="game-logo">flutter_dash</i>
        <h1 class="header-item">Hoot Hoot</h1>
    </div>

    <div class="match-buttons">
        <button mat-raised-button color="primary" routerLink="/player" class="match-button">
            <mat-icon>play_circle</mat-icon>
            Join a Match
        </button>
        <button mat-raised-button color="primary" routerLink="/host" class="match-button">
            <mat-icon>add_circle</mat-icon>
            Create a Match
        </button>
    </div>

    <button mat-raised-button color="basic" routerLink="/admin" id="admin-settings-button">Admin Settings</button>

    <footer class="footer-container">
        <h4 class="team-name">Team Members:</h4>
        <p>
            <span>Ikram Arroud</span>, <span>Nada Benelfellah</span>, <span>Victoria-Mae Carrière</span>, <span>Abdul-Wahab Chaarani</span>,
            <span>Hiba Chaarani</span>, <span>Adam Kassi-Lahlou</span>
        </p>
    </footer>
</div>
