.container {
    min-height: 100vh;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3pt;
}

.header-container img {
    width: 10vw;
}

.match-buttons-container {
    display: flex;
    gap: 15pt;
}

.match-buttons-container .button {
    padding: 5rem;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}
