<div class="main-container">
    <h1 class="page-title">Banque de questions</h1>
    <div class="buttons-container">
        <button id="add-question-button" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>Ajouter une nouvelle question
        </button>
    </div>
    <div class="question-container container">
        <mat-card *ngIf="questions.length === 0" class="empty-list-card">
            <mat-card-content class="empty-list-card">
                <p><mat-icon>catching_pokemon</mat-icon> La banque de question est vide! <mat-icon>catching_pokemon</mat-icon></p>
                <p>Cliquez sur <mat-icon>add</mat-icon> pour ajouter votre première question!</p>
            </mat-card-content>
        </mat-card>

        <mat-accordion cdkDropList class="list bank-list" [cdkDropListData]="questions" (cdkDropListDropped)="drop($event)" multi="false">
            <app-question-list-item
                class="question bank-question"
                *ngFor="let question of questions | sortByLastModification: 'descending'"
                [question]="question"
                [isBankQuestion]="true"
                (deleteQuestionEvent)="deleteQuestion($event)"
                (updateQuestionEvent)="updateQuestion($event)"
                cdkDrag
            >
                <div cdkDragHandle></div>
            </app-question-list-item>
        </mat-accordion>

        <p>{{ response }}</p>
    </div>
</div>
