#main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    left: 25vw;
    width: 50vw;
    position: relative;
}

#info-container {
    background-color: #000;
    position: relative;
    width: 50vw;
    height: 80vh;
    border-radius: 1rem;
}
