<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-<your-integrity-hash>" />

<div class="question-border">
    <form [formGroup]="questionForm" class="question-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label class="question-label">Question</mat-label>
            <input class="questionInput" matInput formControlName="question" placeholder="Entrez la question" />
        </mat-form-field>

        <div>
            <label class="description-label">Description:</label>
        </div>

        <textarea class="description-input" formControlName="description"></textarea>

        <span class="points-box-container">
            <mat-form-field>
                <mat-label class="points-box">Points</mat-label>
                <mat-select formControlName="points">
                    <mat-option *ngFor="let point of [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" [value]="point">{{ point }}</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <!--formControlName="choice" 
        formControlName="isCorrect"  -->

        <span class="submit-button-row">
            <button mat-raised-button color="primary" type = "submit" class="submit-button" [disabled]="!questionForm.valid">Submit</button>
        </span>

        <div formArrayName="choices" class="choice" *ngFor="let choice of choices.controls; let i = index">
            <div class="input-container" [formGroupName]= "i">
                <input class="choicesInput" formControlName ="choice" />
                <input type="checkbox" formControlName="isCorrect" />
                <button  mat-raised-button color="primary" type = "button" class="delete-button" (click)="removeChoice(i)">
                    <i class="fas fa-trash"></i>
                </button>

            </div>
        </div>

        <span class="question-type">
            <mat-form-field>
                <mat-label>Type de Question</mat-label>
                <mat-select formArrayName="types">
                    <mat-option *ngFor="let type of questionForm.get('types')?.value" [value]="type">{{ type }}</mat-option>
                </mat-select>
            </mat-form-field>
        </span>

        <span class="add-button-container">
            <button mat-raised-button color="primary" class="add-button" type="button" (click)="addChoice()">Ajouter Choix</button>
        </span>

    </form>
</div>

<!-- 
    formGroupName="choicesGroup"

                        *ngIf="$any(questionForm)?.choices?.controls"
                    [formControl]="$any(questionForm).choices.controls[i].get('isCorrect')"

<span class="duplicate-button-row">
    <button mat-raised-button color="primary" class="duplicate-button">Duplicate</button>
</span>
-->
