<div id="main-container">
    <h1>Administration des jeux</h1>
    <div id="buttons-container">
        <div id="new-game-buttons-container">
            <button mat-raised-button color="primary" routerLink="/admin/games/new/"><mat-icon>add</mat-icon>Créer un nouveau jeu</button>
            <input type="file" accept="application/json" class="file-input" (change)="this.onFileSelected($event)" #fileUpload />
            <div class="file-upload">
                <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>upload</mat-icon>Importer un jeu (JSON)
                </button>
            </div>
        </div>
        <button mat-raised-button color="primary" routerLink="/admin/bank"><mat-icon>question_mark</mat-icon>Banque de questions</button>
    </div>
    <div class="games-container">
        <h2>Liste des jeux existants</h2>
        <app-game-list-item
            *ngFor="let game of this.gameService.games"
            [game]="game"
            (deleteGameFromList)="onDeleteGameFromList($event)"
            [isAdminMode]="true"
        >
        </app-game-list-item>
    </div>
    <h1>Historique des parties</h1>
    <!--TODO: PIPE-->
    <div id="history-container">
        <button mat-raised-button color="primary" (click)="onDeleteHistory()" id="delete-history-button">
            <mat-icon>delete</mat-icon>Supprimer l'historique
        </button>
        <div>
            <mat-button-toggle-group #order="matButtonToggleGroup" name="order" value="ascending">
                <mat-button-toggle value="ascending">Croissant</mat-button-toggle>
                <mat-button-toggle value="descending">Décroissant</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <mat-button-toggle-group #subject="matButtonToggleGroup" name="subject" value="date">
                <mat-button-toggle value="title">Par titre</mat-button-toggle>
                <mat-button-toggle value="date">Par date</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div id="history-item-container">
            <mat-card *ngFor="let history of this.historyService.historyItems | sortHistory: order.value : subject.value" class="history-card">
                <mat-card-content class="history-content">
                    <p>{{ history.title }}</p>
                    <p>{{ history.date | date: 'YYYY-MM-dd hh:mm:ss' }}</p>
                    <p>{{ history.playersCount }} joueur(s)</p>
                    <p>Meilleur score: {{ history.bestScore }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
