<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav [mode]="'over'" [position]="'end'">
        <div class="sidenav-close">
            <button mat-button (click)="sidenav.toggle()">✖</button>
        </div>
        <p class="bank-message">{{ currentBankMessage }}</p>
        <cdk-virtual-scroll-viewport class="bank-scroll" itemSize="50">
            <div
                id="bank-questions"
                cdkDropList
                [cdkDropListData]="bankQuestions"
                cdkDropListConnectedTo="quiz-questions"
                class="list bank-questions-list"
            >
                <app-short-question
                    class="question short-question"
                    *ngFor="let question of bankQuestions | sortByLastModification: 'descending'"
                    [question]="question"
                    cdkDrag
                    [cdkDragData]="question"
                    (mousedown)="dragBankQuestion()"
                    (mouseup)="dropBankQuestion()"
                    (cdkDragStarted)="dragBankQuestion()"
                    (cdkDragEnded)="dropBankQuestion()"
                ></app-short-question>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-sidenav>

    <mat-sidenav-content>
        <h1 class="page-title">{{ getTitle() }} du jeu</h1>

        <div class="buttons-container">
            <button class="submit-button" mat-raised-button (click)="handleSubmit()" [disabled]="gameForm.invalid || game.questions.length === 0">
                <mat-icon>done</mat-icon> {{ getButtonText() }}
            </button>

            <button
                class="question-bank-button"
                mat-raised-button
                color="primary"
                (click)="openCreateQuestionDialog()"
                id="admin-question-creation-form-button"
            >
                <mat-icon>add</mat-icon>Ajouter une nouvelle question
            </button>

            <button class="question-bank-button" mat-raised-button color="primary" (click)="sidenav.toggle()">
                <mat-icon>question_mark</mat-icon>Importer une question de la banque
            </button>

            <button class="cancel-button" mat-raised-button routerLink="/admin/games">
                <mat-icon *ngIf="!this.isPendingChanges">clear</mat-icon>
                <mat-icon class="pending-changes" *ngIf="this.isPendingChanges">pending</mat-icon>
                Annuler la {{ this.getTitle().toLocaleLowerCase() }} du jeu
            </button>
        </div>

        <div class="game-container">
            <form [formGroup]="gameForm">
                <div class="game-form-details item-container">
                    <mat-form-field class="game-title">
                        <mat-label>Titre</mat-label>
                        <input matInput id="text" type="text" formControlName="title" />
                    </mat-form-field>

                    <mat-form-field class="game-description">
                        <mat-label>Description</mat-label>
                        <textarea matInput id="description" type="text" formControlName="description"> </textarea>
                    </mat-form-field>
                </div>

                <mat-card class="duration-card item-container">
                    <mat-card-content class="duration-slider">
                        <p>Temps par QCM</p>
                        <mat-slider min="10" max="60" step="5" discrete="thumblabel">
                            <input matSliderThumb [value]="game.duration" formControlName="duration" />
                        </mat-slider>
                        <p>{{ game.duration }} secondes</p>
                    </mat-card-content>
                </mat-card>
            </form>
            <div
                id="quiz-questions"
                class="list game-questions-list item-container"
                cdkDropList
                [cdkDropListData]="game.questions"
                cdkDropListConnectedTo="bank-questions"
                (cdkDropListDropped)="dropInQuizList($event)"
                [class.empty-list]="game.questions.length === 0"
                [class.visible]="isBankQuestionDragged"
            >
                <mat-accordion>
                    <p *ngIf="game.questions.length === 0" class="create-notice">
                        Le jeu doit contenir au moins 1 question. Cliquez sur "Ajouter une nouvelle question" ou importez une question de la banque.
                    </p>

                    <cdk-virtual-scroll-viewport class="game-scroll" itemSize="350">
                        <app-question-list-item
                            class="question game-question"
                            *ngFor="let question of game.questions; let i = index"
                            [isExpanded]="i === 0"
                            [index]="game.questions.indexOf(question) + 1"
                            [question]="question"
                            [isBankQuestion]="false"
                            (deleteQuestionEvent)="deleteQuestion($event)"
                            (cdkDragStarted)="dragQuizQuestion(question)"
                            (cdkDragEnded)="dropQuizQuestion($event)"
                            cdkDrag
                        >
                            <div cdkDragHandle></div>
                        </app-question-list-item>
                    </cdk-virtual-scroll-viewport>
                </mat-accordion>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
