<div class="top-page">
    <h2>Liste de questions du jeu.</h2>
</div>

<mat-card *ngIf="!isValid" class="create-new-game">
    <app-admin-create-game>
    </app-admin-create-game>
</mat-card>

<mat-card *ngIf="isValid">
    <div class="top-container">
        <h3>Description du jeu.</h3>
    
        <button mat-raised-button color="basic" routerLink="/admin/games/{{ game.id }}/questionbank" id="admin-question-bank-button">Banque de questions</button>
    </div>
    
    <mat-card class="time-slider">
        <mat-card-content>
            <h2>Timer</h2>
            <mat-slider min="10" max="60" step="5" discrete="thumblabel">
                <input matSliderThumb
                [(ngModel)]="game.duration"
                (input)="changeDuration($event)" />
            </mat-slider>
        </mat-card-content>
    </mat-card>

    <mat-accordion class="admin-questions-list question-list">
        <div cdkDropList class="" (cdkDropListDropped)="drop($event)">
            <div cdkDropList class="questions-list" (cdkDropListDropped)="drop($event)">
                <app-question-list-item
                    *ngFor="let question of game.questions"
                    [index]="game.questions.indexOf(question) + 1"
                    [question]="question"
                    [isEditable]="true"
                    [isLastModifiedDateVisible]="true"
                    (deleteQuestionEvent)="deleteQuestion($event)"
                    cdkDragHandle >

            </app-question-list-item>
        </div>
        <div class="add-button-container">
            <button class="add-question-button" mat-raised-button color="basic" (click)="openDialog()" id="admin-create-question-button">
                <mat-icon>add</mat-icon>
                <app-create-question *ngIf="dialogState" (createQuestionEvent)="addNewQuestion($event)"></app-create-question>
            </button>
            
        </div>
    </div>
</mat-accordion>

<button class="submit-button" mat-raised-button color="basic" (click)="saveGame()">
    <mat-icon>done</mat-icon>
</button>
