<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav #sidenav [mode]="'over'" [position]="'end'">
        <div class="sidenav-close">
            <button mat-button (click)="sidenav.toggle()">✖</button>
        </div>
        <cdk-virtual-scroll-viewport class="bank-scroll" itemSize="50">
            <div
                id="bank-questions"
                cdkDropList
                [cdkDropListData]="bankQuestions"
                cdkDropListConnectedTo="quiz-questions"
                class="list bank-questions-list"
            >
                <app-short-question
                    class="question short-question"
                    *ngFor="let question of bankQuestions | sortByLastModification: 'descending'"
                    [question]="question"
                    cdkDrag
                    [cdkDragData]="question"
                    (cdkDragStarted)="dragBankQuestion()"
                    (cdkDragEnded)="dropBankQuestion()"
                ></app-short-question>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-sidenav>

    <mat-sidenav-content>
        <h1 class="page-title">{{ getTitle() }} du jeu</h1>

        <div class="buttons-container buttons-rack">
            <div>
                <button
                    class="submit-button"
                    mat-raised-button
                    color="accent"
                    (click)="handleSubmit()"
                    [disabled]="gameForm.invalid || game.questions.length === 0"
                >
                    <mat-icon>done</mat-icon> {{ getButtonText() }}
                </button>
            </div>

            <div class="buttons-container">
                <div class="questions-button">
                    <button mat-raised-button color="primary" (click)="openCreateQuestionDialog()" id="admin-question-creation-form-button">
                        <mat-icon>add</mat-icon>Ajouter une nouvelle question
                    </button>
                    <button mat-raised-button color="primary" (click)="sidenav.toggle()"><mat-icon>question_mark</mat-icon>Banque de question</button>
                    <button mat-raised-button color="warn" routerLink="/admin/games">
                        <mat-icon *ngIf="!this.isPendingChanges">cancel</mat-icon>
                        <mat-icon class="pending-changes" *ngIf="this.isPendingChanges">circle</mat-icon>
                        Annuler la {{ this.getTitle().toLocaleLowerCase() }} du jeu
                    </button>
                </div>
            </div>
        </div>
        <div class="game-container">
            <form [formGroup]="gameForm">
                <div class="game-form-details item-container">
                    <mat-form-field class="game-title">
                        <mat-label>Titre</mat-label>
                        <input matInput id="text" type="text" formControlName="title" />
                    </mat-form-field>

                    <mat-form-field class="game-description">
                        <mat-label>Description</mat-label>
                        <textarea matInput id="description" type="text" formControlName="description"> </textarea>
                    </mat-form-field>
                </div>

                <mat-card class="duration-card item-container">
                    <mat-card-content class="duration-slider">
                        <p>Durée de la minuterie</p>
                        <mat-slider min="10" max="60" step="5" discrete="thumblabel">
                            <input matSliderThumb [value]="game.duration" formControlName="duration" />
                        </mat-slider>
                        <p>{{ game.duration }} secondes</p>
                    </mat-card-content>
                </mat-card>
            </form>
            <div
                id="quiz-questions"
                class="list game-questions-list item-container"
                cdkDropList
                [cdkDropListData]="game.questions"
                cdkDropListConnectedTo="bank-questions"
                (cdkDropListDropped)="dropInQuizList($event)"
                [class.empty-list]="game.questions.length === 0"
                [class.visible]="isBankQuestionDragged"
            >
                <mat-accordion>
                    <p *ngIf="game.questions.length === 0" class="create-notice">
                        Le jeu doit contenir au moins 1 question. Cliquer sur Ajouter une nouvelle question ou importer une question de la banque.
                    </p>
                    <cdk-virtual-scroll-viewport class="game-scroll" itemSize="50">
                        <app-question-list-item
                            class="question game-question"
                            *ngFor="let question of game.questions"
                            [index]="game.questions.indexOf(question) + 1"
                            [question]="question"
                            [isBankQuestion]="false"
                            (deleteQuestionEvent)="deleteQuestion($event)"
                            (cdkDragStarted)="dragQuizQuestion(question)"
                            (cdkDragEnded)="dropQuizQuestion($event)"
                            cdkDrag
                        >
                            <div cdkDragHandle></div>
                        </app-question-list-item>
                    </cdk-virtual-scroll-viewport>
                </mat-accordion>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
