<div id="main-chat-container">
    <h2 id="current-username">{{ this.matchRoomService.getUsername() }}</h2>
    <div id="messages-container">
        <div *ngFor="let message of messages" class="message-container">
            <div class="message-info-container">
                <p class="message-author">{{ message.author }}</p>
                <p>{{ message.date | date: 'hh:mm' }}</p>
            </div>
            <div
                class="message-text-container"
                [ngClass]="[
                    message.author === this.matchRoomService.getUsername() ? 'own-message' : '',
                    message.author === 'Organisateur' ? 'host-message' : ''
                ]"
            >
                <p>{{ message.text }}</p>
            </div>
        </div>
    </div>
    <form id="chat-form">
        <mat-form-field id="chat-input-container">
            <mat-label>Message</mat-label>
            <input matInput id="chat-input" #message maxlength="200" placeholder="..." />
            <mat-icon id="chat-send-icon" (click) = "sendMessage(message.value)"  message.value = " "  >send</mat-icon>
        </mat-form-field>
    </form>
</div>
