<!-- TODO: Add Guard for URL to forbid access if user is not authentified (?) -->
<!-- TODO: Add Chat with username/Organisateur as header -->

<app-chat></app-chat>

<div id="main-container">
    <button mat-raised-button id="exit-button" routerLink="/home">Quitter</button>
    <div id="game-starting" *ngIf="startTimerButton">
        <h1>La partie commence dans..</h1>
        <div id="timer">
            <mat-progress-spinner [value]="computeTimerProgress()" mode="determinate" diameter="350"> </mat-progress-spinner>
            <h2 id="time-left">
                {{ time }}
            </h2>
        </div>
    </div>
    <div id="waiting-for-players" *ngIf="!startTimerButton">
        <h1>Hoot Hoot en attente</h1>
        <div *ngIf="isHost" id="host-options-container">
            <p *ngIf="isHost" id="code">{{ this.matchRoomService.getMatchRoomCode() }}</p>
            <mat-slide-toggle [(ngModel)]="isLocked" (click)="toggleLock()">{{
                isLocked ? 'Partie verrouillée' : 'Partie déverouillée'
            }}</mat-slide-toggle>
            <button mat-raised-button color="primary" (click)="startMatch()">Commencer la partie</button>
        </div>
        <mat-card *ngFor="let player of this.matchRoomService.players" class="player-username-card">
            <p>{{ player.username }}</p>
            <button mat-icon-button (click)="banPlayerUsername(player.username)" color="warn" *ngIf="isHost"><mat-icon>delete</mat-icon></button>
        </mat-card>
    </div>
</div>
