#main-container {
    padding: 1rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#host-options-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.player-username-card {
    width: 50vw;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
