<div id="main-container">
    <div class="answer-area" *ngIf="questionContextService.getContext() !== 'hostView'">
        <form class="long-answer-form">
            <mat-form-field class="text-form" appearance="outline">
                <mat-label class="text-label">Réponse</mat-label>
                <textarea
                    class="text-input"
                    matInput
                    #message
                    [attr.maxlength]="answerMaxLength"
                    [(ngModel)]="currentAnswer"
                    name="answer"
                    [disabled]="!isSelectionEnabled"
                    (input)="updateAnswer()"
                ></textarea>
                <mat-hint align="end">{{ message.value.length }} / {{ answerMaxLength }}</mat-hint>
            </mat-form-field>
        </form>
    </div>

    <div id="histogram-container" *ngIf="questionContextService.getContext() === 'hostView' && !gradeAnswers && !gradingComplete">
        <app-long-answer-histogram></app-long-answer-histogram>
    </div>

    <div class="grading-area" *ngIf="questionContextService.getContext() === 'hostView' && gradeAnswers">
        <div class="grading-prompt">
            <h1>Veuillez noter les réponses des joueurs!</h1>
        </div>
        <cdk-virtual-scroll-viewport class="grades-scroll" itemSize="50">
            <div *cdkVirtualFor="let player of playersAnswers | sortAnswers" class="player-answer">
                <mat-card class="answer-card">
                    <div>
                        <mat-card-title class="player-username"> {{ player.username }} </mat-card-title>
                        <mat-card-content class="player-answer"> {{ player.answer }} </mat-card-content>
                    </div>
                    <div class="score">
                        <mat-slider
                            min="{{ answerOptions.WRONG }}"
                            max="{{ answerOptions.GOOD }}"
                            step="{{ answerOptions.OK }}"
                            discrete="thumbLabel"
                        >
                            <input matSliderThumb [(ngModel)]="player.score" />
                        </mat-slider>
                        <p>{{ player.score }} %</p>
                    </div>
                </mat-card>
            </div>
        </cdk-virtual-scroll-viewport>

        <button mat-raised-button color="primary" id="submit-button" (click)="sendGrades()">SOUMETTRE CORRECTION</button>
    </div>
</div>
