<div class="answer-area">
    <form class="long-answer-form text-form">
        <mat-form-field class="text-form" appearance="outline">
            <mat-label class="text-label">Réponse</mat-label>
            <textarea
                class="text-input"
                matInput
                #message
                [attr.maxlength]="answerMaxLength"
                [(ngModel)]="answer"
                name="answer"
                [disabled]="!isSelectionEnabled"
                (input)="updateAnswer()"
            ></textarea>
            <mat-hint align="end">{{ message.value.length }} / {{ answerMaxLength }}</mat-hint>
        </mat-form-field>
    </form>
</div>
