<div class="answer-area" *ngIf="questionContextService.getContext() !== 'hostView'">
    <form class="long-answer-form text-form">
        <mat-form-field class="text-form" appearance="outline">
            <mat-label class="text-label">Réponse</mat-label>
            <textarea
                class="text-input"
                matInput
                #message
                [attr.maxlength]="answerMaxLength"
                [(ngModel)]="currentAnswer"
                name="answer"
                [disabled]="!isSelectionEnabled"
                (input)="updateAnswer()"
            ></textarea>
            <mat-hint align="end">{{ message.value.length }} / {{ answerMaxLength }}</mat-hint>
        </mat-form-field>
    </form>
</div>

<div class="grading-area" *ngIf="questionContextService.getContext() === 'hostView' && gradeAnswers">
    <div *ngFor="let player of playersAnswers" class="player-answer">
        <mat-card class="answer-card">
            <mat-card-content> {{ player.answer }} </mat-card-content>
        </mat-card>
        <mat-button-toggle-group name="answerValue" [(ngModel)]="player.score" (change)="handleGrading()">
            <mat-button-toggle value="0" class="wrong-answer">0</mat-button-toggle>
            <mat-button-toggle value="50" class="ok-answer">50</mat-button-toggle>
            <mat-button-toggle value="100" class="good-answer">100</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
