<h1>Créer une partie</h1>
<div id="match-creation-page">
    <div id="game-list-container">
        <h2>Liste des jeux</h2>
        <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="50">
            <mat-card id="game-card">
                <mat-card-content id="game-card-content" [ngClass]="'clickable-item'" (click)="loadRandomGame()">
                    <p id="game-title">Mode Aléatoire</p>
                </mat-card-content>
            </mat-card>

            <app-game-list-item
                *cdkVirtualFor="let game of games"
                [game]="game"
                [isAdminMode]="false"
                (click)="loadSelectedGame(game)"
            ></app-game-list-item>
        </cdk-virtual-scroll-viewport>
    </div>

    <div id="game-details-container">
        <h2>Détails du jeu</h2>
        <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="50">
            <div id="game-details" *ngIf="gameIsValid; else elseBlock">
                <div class="list">
                    <strong>Description du jeu :</strong>
                    <span id="game-description">{{ selectedGame.description }}</span>
                    <strong>Temps alloué : </strong>
                    <span id="game-time-duration">{{ selectedGame.duration }} secondes</span>
                </div>
                <div class="list" *ngIf="!isRandomGame">
                    <strong>Liste des questions : </strong>
                    <span id="game-questions" *ngFor="let question of selectedGame.questions; let i = index"
                        >{{ i + 1 }}. {{ question.text }}<br
                    /></span>
                </div>
            </div>

            <ng-template #elseBlock>
                <span>Sélectionner un jeu dans la liste des jeux</span>
            </ng-template>
        </cdk-virtual-scroll-viewport>

        <div id="buttons-container">
            <button mat-raised-button color="primary" (click)="createMatch(MatchContext.TestPage)" *ngIf="gameIsValid && !isRandomGame">
                Tester jeu
            </button>
            <button mat-raised-button color="primary" (click)="createMatch(MatchContext.HostView)" *ngIf="gameIsValid && !isRandomGame">
                Jouer jeu
            </button>
            <button mat-raised-button color="primary" (click)="createMatch(MatchContext.RandomMode)" *ngIf="gameIsValid && isRandomGame">
                Jouer jeu
            </button>
        </div>
    </div>
</div>
