<h1>Créer une partie</h1>
<div id="match-creation-page">
    <div id="game-list-container">
        <h2>Liste des jeux</h2>
        <cdk-virtual-scroll-viewport itemSize="50" style="height: 100vh">
            <app-game-list-item
                *cdkVirtualFor="let game of games"
                [game]="game"
                [isAdminMode]="false"
                (click)="loadSelectedGame(game)"
            ></app-game-list-item>
        </cdk-virtual-scroll-viewport>
    </div>

    <div id="game-details-container">
        <h2>Détails du jeu</h2>
        <cdk-virtual-scroll-viewport itemSize="50" style="height: 100vh">
            <div id="game-details" *ngIf="gameIsValid; else elseBlock">
                <div class="list">
                    <strong>Description du jeu :</strong>
                    <span id="game-description">{{ selectedGame.description }}</span>
                    <strong>Temps alloué : </strong>
                    <span id="game-time-duration">{{ selectedGame.duration }} secondes</span>
                </div>
                <div class="list">
                    <strong>Liste des questions : </strong>
                    <span id="game-questions" *ngFor="let question of selectedGame.questions; let i = index"
                        >{{ i + 1 }}. {{ question.text }}<br
                    /></span>
                </div>
            </div>

            <ng-template #elseBlock>
                <span>Sélectionner un jeu dans la liste des jeux</span>
            </ng-template>
        </cdk-virtual-scroll-viewport>

        <div id="buttons-container">
            <button mat-raised-button color="primary" routerLink="/play" *ngIf="gameIsValid">Tester jeu</button>
            <button mat-raised-button color="primary" routerLink="/waiting-room" *ngIf="gameIsValid">Jouer jeu</button>
        </div>
    </div>
</div>
