<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<app-chat></app-chat>
<div id="main-container">
    <button mat-raised-button id="exit-button" routerLink="/home" (click)="quitGame()">QUITTER</button>
    <button
        mat-raised-button
        id="panic-button"
        *ngIf="this.time > 10 && !this.timeService.isPanicking && context === 'hostView'"
        (click)="togglePanicTimer()"
    >
        PANIC
    </button>
    <button
        mat-raised-button
        id="pause-button"
        *ngIf="!isCooldown && time !== 0 && context === 'hostView'"
        (click)="this.timeService.pauseTimer(this.matchRoomCode)"
    >
        Pause
    </button>
    <div id="question-area">
        <div id="question-timer-area">
            <div
                id="score-feedback-area"
                *ngIf="
                    (showFeedback && context === matchContext.PlayerView && !isCooldown) ||
                        (showFeedback && (context === matchContext.TestPage || context === matchContext.RandomMode));
                    else elseBlock
                "
            >
                <h1 id="score">SCORE : {{ playerScore }}</h1>
                <div>
                    <h1 class="points" *ngIf="!answerCorrectness" class="wrong-answer">😔 Mauvaise Réponse 😔</h1>
                    <h1 class="points" *ngIf="answerCorrectness === answerOptions.OK" class="ok-answer">
                        🆗 Réponse partielle! Vous avez obtenu {{ this.currentQuestion.points / 2 }} points 🆗
                    </h1>
                    <h1 class="points" *ngIf="answerCorrectness === answerOptions.GOOD" class="good-answer">
                        👏 Bonne Réponse! Vous avez obtenu {{ this.currentQuestion.points }} points 👏
                    </h1>
                    <h1 class="points" class="good-answer" *ngIf="bonus > 0">✨ Vous avez obtenu un bonus de {{ bonus }} points!✨</h1>
                </div>
            </div>

            <ng-template #elseBlock>
                <div id="score-area" *ngIf="context !== matchContext.HostView">
                    <h1 id="score">
                        SCORE :
                        {{ playerScore }}
                    </h1>
                </div>
            </ng-template>

            <div id="question">
                <div id="question-text-container">
                    <h1>{{ this.currentQuestion!.text }}</h1>
                </div>
                <h1 id="points" *ngIf="!this.isCooldown">{{ currentQuestion.points }} points</h1>
            </div>

            <div id="timer-area">
                <mat-progress-spinner [value]="this.timeService.computeTimerProgress()" mode="determinate" diameter="90"> </mat-progress-spinner>
                <h2 id="time-left">
                    {{ time }}
                </h2>
            </div>
        </div>

        <div class="choice-container" *ngIf="!isCooldown || context === matchContext.TestPage">
            <app-multiple-choice-area
                *ngIf="currentQuestion.type === questionType.QCM"
                class="choice-area"
                [isSelectionEnabled]="isSelectionEnabled"
                [currentQuestion]="currentQuestion"
                [isCooldown]="isCooldown"
            ></app-multiple-choice-area>

            <app-long-answer-area
                *ngIf="currentQuestion.type === questionType.QRL"
                class="choice-area"
                [isSelectionEnabled]="isSelectionEnabled"
                [currentQuestion]="currentQuestion"
            ></app-long-answer-area>
        </div>

        <div id="host-area" *ngIf="context === matchContext.HostView">
            <div id="buttons-container">
                <button mat-raised-button *ngIf="isLastQuestion" (click)="routeToResultsPage()">Présenter les résultats finaux</button>
                <button mat-raised-button color="primary" (click)="nextQuestion()" *ngIf="isNextQuestionButton && !isLastQuestion">
                    Question suivante
                </button>
            </div>
        </div>
        <div id="submit-button-container" *ngIf="context !== matchContext.HostView || this.context === matchContext.RandomMode">
            <button mat-raised-button color="primary" id="submit-button" *ngIf="isSelectionEnabled" (click)="submitAnswers()">SOUMETTRE</button>
        </div>
    </div>
</div>
<app-players-list [players]="this.players" *ngIf="context !== matchContext.TestPage"></app-players-list>
